/* line 1, ../sass/all.scss */
.all-title {
  position: relative;
  float: left;
  width: 500px;
  height: 40px;
  margin-bottom: 15px;
}

/* line 9, ../sass/all.scss */
.all-title i {
  display: inline-block;
  background-color: #000;
  width: 34%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  letter-spacing: 2px;
}

/* line 21, ../sass/all.scss */
.all-title .report {
  display: inline-block;
  float: right;
  margin-right: 223px;
  margin-top: 10px;
  padding: 9px;
  font-size: 1.2em;
  border-radius: 4px;
  background-color: #1D4A82;
  color: #fff;
  border: none;
}

/* line 34, ../sass/all.scss */
.all-title i:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: 15px;
  right: 306px;
  border-left: 25px solid #000;
  border-top: 25px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

/* line 47, ../sass/all.scss */
.all-info li {
  border-bottom: 2px solid #7787D6;
  padding-bottom: 5px;
  font-size: 1.3em;
  margin-bottom: 29px;
  padding-right: 23px;
}

/* line 55, ../sass/all.scss */
.navigation {
  margin-top: 40px;
  text-align: center;
  margin-right: 170px;
}
/* line 59, ../sass/all.scss */
.navigation span {
  background-color: #553b2c;
  color: #99cdd8;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.1em;
  margin-right: 5px;
}
/* line 68, ../sass/all.scss */
.navigation a {
  color: #fff;
}

/* line 74, ../sass/all.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 75, ../sass/all.scss */
.table {
  margin-left: 22%;
  display: table;
  width: 76%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #AFABAB;
  font: 14px/3 georgia,simsun,arial;
}

/* line 81, ../sass/all.scss */
.table-caption {
  display: table-caption;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* line 82, ../sass/all.scss */
.table-column-group {
  display: table-column-group;
}

/* line 83, ../sass/all.scss */
.table-column {
  display: table-column;
  width: 100px;
}

/* line 84, ../sass/all.scss */
.table-row-group {
  display: table-row-group;
}

/* line 85, ../sass/all.scss */
.table-row {
  display: table-row;
}

/* line 86, ../sass/all.scss */
.table-row-group .table-row:hover {
  background: #f6f6f6;
}

/* line 87, ../sass/all.scss */
.table-cell {
  display: table-cell;
  padding: 0 5px;
}

/* line 88, ../sass/all.scss */
.table-header-group {
  display: table-header-group;
  background: #F1F1F1;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
}

/* line 92, ../sass/all.scss */
.table-footer-group {
  display: table-footer-group;
  background-color: #F1F1F1;
  font-weight: bold;
  border-top: 1px solid #e1e1e1;
}
