/* line 1, ../sass/all.scss */
.all-title {
  position: relative;
  float: left;
  width: 500px;
  height: 40px;
}

/* line 8, ../sass/all.scss */
.list-control {
  width: 260px;
  height: 60px;
}

/* line 13, ../sass/all.scss */
.all-title i {
  display: inline-block;
  background-color: #000;
  width: 34%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  letter-spacing: 2px;
}

/* line 25, ../sass/all.scss */
.all-title .report {
  display: inline-block;
  float: right;
  padding: 14px;
  font-size: 1.2em;
  border-radius: 4px;
  background-color: #1D4A82;
  color: #fff;
  border: none;
}

/* line 36, ../sass/all.scss */
.all-title i:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: 15px;
  right: 306px;
  border-left: 25px solid #000;
  border-top: 25px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

/* line 49, ../sass/all.scss */
.all-info {
  float: right;
  width: 76%;
}

/* line 54, ../sass/all.scss */
.color {
  color: yellow;
}

/* line 58, ../sass/all.scss */
.all-info li {
  border-bottom: 2px solid #7787D6;
  padding-bottom: 5px;
  font-size: 1.3em;
  margin-bottom: 29px;
  padding-right: 23px;
}

/* line 66, ../sass/all.scss */
.all-info li.on {
  background: #5eb5e0;
}

/* line 70, ../sass/all.scss */
.all-info .all-info-title {
  color: #000;
}

/* line 74, ../sass/all.scss */
.all-info-date {
  float: right;
  padding-right: 12px;
}

/* line 79, ../sass/all.scss */
.all-info-delete {
  color: #000;
  float: right;
}

/* line 84, ../sass/all.scss */
.navigation {
  margin-top: 330px;
  text-align: center;
  margin-right: 170px;
}
/* line 88, ../sass/all.scss */
.navigation span {
  background-color: #553b2c;
  color: #99cdd8;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.1em;
  margin-right: 5px;
}
/* line 97, ../sass/all.scss */
.navigation a {
  color: #fff;
}
