/* line 1, ../sass/blogPublic.scss */
body {
  background-color: #C7C3C3;
}

/* line 5, ../sass/blogPublic.scss */
.blog-header {
  width: 80%;
  float: right;
  height: 23%;
}

/* line 11, ../sass/blogPublic.scss */
.blog-header p {
  font-size: 1.3em;
  margin-left: 51px;
  color: #fff;
}

/* line 17, ../sass/blogPublic.scss */
.blog-header h3 {
  display: inline-block;
  margin: 6% auto 22px 7%;
  font-size: 2.5em;
  color: #fff;
}

/* line 24, ../sass/blogPublic.scss */
.blog-additional {
  width: 20%;
  height: 100%;
  text-align: center;
  float: left;
  background-color: #1D4A82;
}

/* line 32, ../sass/blogPublic.scss */
.motto {
  font-size: .6em;
}

/* line 36, ../sass/blogPublic.scss */
.blog-additional-userinfo {
  width: 100%;
  margin-top: 10%;
  font-size: 1.8em;
}

/* line 42, ../sass/blogPublic.scss */
.blog-additional-userinfo p {
  display: inline-block;
  color: #fff;
  padding-top: 11px;
  width: 60%;
}

/* line 49, ../sass/blogPublic.scss */
.blog-additional-avatar img {
  display: inline-block;
  width: 120px;
  margin-top: 10%;
  height: 120px;
  border-radius: 63px;
  border: 4px solid #fff;
}

/* line 59, ../sass/blogPublic.scss */
.nvg-ul li {
  line-height: 64px;
}
/* line 63, ../sass/blogPublic.scss */
.nvg-ul a {
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
}

/* line 70, ../sass/blogPublic.scss */
.on {
  background-color: #052D5F;
}
/* line 72, ../sass/blogPublic.scss */
.on a {
  color: #64A7FB;
  text-decoration: none;
}

/* line 77, ../sass/blogPublic.scss */
.on:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: 387px;
  right: 80%;
  border-left: 10px solid transparent;
  border-top: 11px solid transparent;
  border-right: 11px solid #c7c3c3;
  border-bottom: 10px solid transparent;
}

/* line 90, ../sass/blogPublic.scss */
.change {
  background-color: #171719;
}
