.required {
    font-size: 1.5em;
}

[placeholder] { font-family: 'Microsoft yahei'; }
::-moz-placeholder {
    color: rgba(83, 83, 83, 0.83);
    text-indent: 5px; /* 没有用 */
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: rgba(83, 83, 83, 0.83);
    text-indent: 5px;
}
::-webkit-input-placeholder {
    color: rgba(83, 83, 83, 0.83);
    text-indent: 2em;
}


#form_title {
    border: none;
    border-bottom: 2px solid #1D4A82;
    outline-style: none;
    background-color: #C7C3C3;
}

#form_submit {
    padding: 6px;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    background-color: #774402;
    color: #fff;
    margin: 10px 10px 10px 83px;
}
.blog-title input{
    text-indent: 1em;
    width: 200px;
    height: 26px;
    background-color: #c7c3c3;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 1.4em;
    outline: none;
}

.btn button{
    width: 90px;
    height: 50px;
    border-radius: 5px;
    background-color: #1d4a82;
    color: #fff;
    font-size: 1.5em;
}

.blog-form{
    float: right;
    width: 70%;
    height: 50%;
    margin-top: 55px;
    .blog-title {
        margin-bottom: 19px;
    }
    .row {
        margin-bottom: 15px;
    }
}

.row textarea{
    text-indent: 2em;
    width: 500px;
    height: 250px;
    font-size: 1.4em;
    padding: 10px;
    font-weight: 900;
    outline: 1px solid blue;
}